.input-section{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 661px;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    margin: 0 38px 38px 38px;
    background-color: #03030535;
}
.button-header{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.button-header button{
    width: 108px;
    height: 71px;
    background-color: #03030535 ;
    border: 1px solid #F1F1F1;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
}

.input-main{
    height: 40%;
    display: flex;
    flex-direction: column;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input-field input{
    width: auto;
    height: 70px;
    background-color: #03030535 ;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    margin: 10px 51px 20px 51px;
}

.input-field label{
    margin-left: 60px;
}

.input-footer{
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.input-footer button{
    width: auto;
    height: 70px;
    margin: 0 51px 0 51px;
    background-color: #03030535 ;
    border: 1px solid #F1F1F1;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

#selected{
    background: linear-gradient(90deg,#25BBB5,#A541BD);
    border: none;
}

#selected2{
    background-color: #25BBB5;
    border: none;
}